<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authentication mode="Windows" />
    </system.web>
    <system.webServer>
        <httpRedirect enabled="false" destination="https://www.husky.nz" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.hunz" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
				<add value="index.aspx" />
				<add value="old.aspx" />
				
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://www.husky.nz/ep/404.html" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
